.form-area {
    background-color: #FFF;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0, 0.5);
    border-radius: 5px;
}

.form-area h1 {
    text-transform: uppercase;
    font-size: 1.3em;
}

.form-area form {
    margin-top: 25px;
}

.form-area form input,
.form-area form textarea{
    margin: 5px 0px;
}

.form-area form textarea{
    height: 150px;
    resize: none;
    border: none;
    background: var(--light);
}

.controll-form {
    margin: 5px 0px 10px 0px;
    display: flex;
    flex-direction: column;
}

.controll-form label{
    font-weight: bold;
}

