.new-content {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.new-content .title{
    border-bottom: 2px solid var(--dark);
    padding: 20px 0px;
    width: 100%;
    margin-bottom: 60px;
}

.new-content .title h1{
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.new-content .title span.author{
    width: 100%;
    font-size: .85em;
    margin: 10px 4px;
    text-align: end;
}

.new-description {
    line-height: 28px;
}
